# Python stuff
.venv*
venv*
*.pyc
__pycache__*
.mypy_cache
*.egg-info

# local data
*.log
converted_videos*

# media files
**/*.avi
**/*.mkv
**/*.mp4
**/*.m4v
**/*.mp3
**/*.aac
**/*.ac3
**/*.flac
**/*.wav
**/*.srt
**/*.ass
**/*.sub
**/*.vtt

# System files
.DS_Store
